- Give a short statement about the contents of the dataset(s) and how this fits with your topic.

    Datasets can be thought of as written paragraphs whereas each may share or incorporate their own unique theme that all ultimately result in a story. 
    In relation to my own capstone topic, there are studies with datasets that support the overall message that there is a correlation between anxiety and gaming. Like any study, there is a compilation of data organized together to tell a story.

- Know and understand, how and why one would use Python and Jupiter Notebooks for Data Analytics, and for your Capstone project.

    Python in conjuction with Jupyter Notebook has proven itself reliable where its utility encompasses various commands as well as adding markers or notes alongside each command or seperate. As distinguished thus far, the system allows for high-level language that expands upon potential results. In relation to my capstone, Python and Jupyter can distinguish the code used as well as providing the user the capability of alleviating unnecessary data or adding more information.

In [112]:
# if statement
Age = 31
if Age >= 25:
  print("Renting a car is more affordable.")
if Age <= 25:
  print("Renting a car is expensive.")

# if else statement
Age = 20
if Age >= 25:
     print("Renting a car is more affordable.")
     if Age < 25 and Age >= 18: print("Renting a car is very expensive.")
     else: print("You cannot legally rent a car.")

Renting a car is more affordable.

In [49]:
  
# 3. pulling for these vowels
Savvy = "The quick brown fox jumps over the lazy dog."
vowels = "aeiouAEIOU" 
for letters in Savvy:
    if letters in vowels[0:9]:    
     print(letters)

e
u
i
o
o
u
o
e
e
a
o

In [54]:
# 4. Nested loop
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunMetal blue", "Dark Sapphire"}

for clothing in couture:
  for color in panettone:
    print(clothing + " in " + color)

trousers in fuchsia
trousers in maple
trousers in cerise
trousers in auburn
trousers in gunMetal blue
trousers in Dark Sapphire
trousers in aqua
trousers in burnt sienna
blouse in fuchsia
blouse in maple
blouse in cerise
blouse in auburn
blouse in gunMetal blue
blouse in Dark Sapphire
blouse in aqua
blouse in burnt sienna
bandana in fuchsia
bandana in maple
bandana in cerise
bandana in auburn
bandana in gunMetal blue
bandana in Dark Sapphire
bandana in aqua
bandana in burnt sienna
cumber band in fuchsia
cumber band in maple
cumber band in cerise
cumber band in auburn
cumber band in gunMetal blue
cumber band in Dark Sapphire
cumber band in aqua
cumber band in burnt sienna
blazer in fuchsia
blazer in maple
blazer in cerise
blazer in auburn
blazer in gunMetal blue
blazer in Dark Sapphire
blazer in aqua
blazer in burnt sienna
vest in fuchsia
vest in maple
vest in cerise
vest in auburn
vest in gunMetal blue
vest in Dark Sapphire
vest in aqua
vest in burnt sienna
french beret in fuchsia
french beret in maple
french beret in cerise
french beret in auburn
french beret in gunMetal blue
french beret in Dark Sapphire
french beret in aqua
french beret in burnt sienna
scarf in fuchsia
scarf in maple
scarf in cerise
scarf in auburn
scarf in gunMetal blue
scarf in Dark Sapphire
scarf in aqua
scarf in burnt sienna
stole in fuchsia
stole in maple
stole in cerise
stole in auburn
stole in gunMetal blue
stole in Dark Sapphire
stole in aqua
stole in burnt sienna

In [58]:
# 5. 
sum = 0
for i in range(1, 101):
    sum += i
print("The sum of all numbers from 1 to 100 is", sum)

The sum of all numbers from 1 to 100 is 5050

In [111]:
# 6. Print the second item in this fruits list.
fox = ["apple", "banana", "cherry"]
print("banana")

# OR

fox = ["apple", "banana", "cherry"]
for x in fox:
    if x == "banana":
     print(x)

# OR
fox = ["apple", "banana", "cherry"]
fox[1]

banana
banana

'banana'

In [63]:
# 7. Change the value from "apple" to "kiwi", in the fruits list
sheesh = ["apple", "banana", "cherry"]
sheesh[0] = "kiwi"
print(sheesh)

['kiwi', 'banana', 'cherry']

In [64]:
# 8. Use the append method to add "orange" to the fruits list.
tots = ["apple", "banana", "cherry"]
tots.append("orange")
print(tots)

['apple', 'banana', 'cherry', 'orange']

In [66]:
# 9. Use the insert method to add "lemon" as the second item in the fruits list.
fish = ["apple", "banana", "cherry"]
fish.insert(1, "lemon")
print(fish)

['apple', 'lemon', 'banana', 'cherry']

In [67]:
# 10. Use the remove method to remove "banana" from the fruits list.
dog = ["apple", "banana", "cherry"]
dog.remove("banana")
print(dog)

['apple', 'cherry']

In [89]:
# 11. Use negative indexing to print the 3rd and 2nd to last items in the list.
box = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(box[-2])
print(box[-3])

melon
kiwi

In [96]:
# 12. Use a range of indexes to print the third, fourth, and fifth item in the list.
pup = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(pup[3:6])

['orange', 'kiwi', 'melon']

In [97]:
# 13. Use the correct syntax to print the number of items in the list.
bot = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(bot))

7

In [110]:
# 14. Use the correct syntax to sort this list in reverse order
cow = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
cow.sort(reverse=True)
print(cow)
# this is in alphabetical

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']